<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<script src="https://unpkg.com/vue@next"></script>
	<!-- <script src="js/v3.2.8/vue.global.prod.js" type="text/javascript" charset="utf-8"></script> -->
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>登录</title>
</head>
<body>
<div id="LoginDiv">
	account<br />
	<input type="text" v-model="account"><br />
	password<br />
	<input type="text" v-model="password"><br />
	<input type="button" @click="login"/>
	{{info}}
	<script>
		const LoginApp = Vue.createApp({
			data(){
				return{
					info:1
				}
			},
			methods:{
				login(){
					axios
					.post('/user/login',{
						username: this.account,
						password: this.password
					})
					.then(function(response){
						console.log(response);

					},this.info = 2)
					.catch(function(error){
						console.log(error);

					},this.info = 3)
				}
			}
		})
		LoginApp.mount('#LoginDiv')
	</script>
</div>
</body>
</html>